
body {
  font-family: Lasiver-Regular, "Segoe UI", "Helvetica", sans-serif;
  font-size: 13px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Lasiver-Regular, "Segoe UI", "Helvetica", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 23px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5,h6 {
  font-size: 14px;
}

code,pre,kbd {
  font-size: 1.231em;
}

strong {
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
}

#branding h1.page-title {
  font-family: Lasiver-Regular, "Segoe UI", "Helvetica", sans-serif;
  font-size: 32px;
  font-weight: 300;
}

#branding div.breadcrumb {
  font-size: 14px;
}

ul.primary {
  font-size: 0.923em;
}

ul.primary li a:link,ul.primary li a.active,ul.primary li a:active,ul.primary li a:visited,ul.primary li a:hover,ul.primary li.active a {
  font-family: Lasiver-Regular, "Segoe UI", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

ul.secondary {
  font-size: 0.923em;
}

#secondary-links ul.links li a {
  font-size: 0.923em;
}

ul.action-links a {
  font-size: 23px;
  font-weight: 300;
}

.progress {
  font-weight: normal;
}

table th {
  font-family: Lasiver-Regular, "Segoe UI", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

fieldset legend {
  font-family: Lasiver-Regular, "Segoe UI", "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.form-item label, .exposed-filters .form-item label {
  font-family: Lasiver-Regular, "Segoe UI", "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.form-item label.option {
  font-size: 16px;
}

.filter-wrapper .form-item,.filter-wrapper .filter-guidelines,.filter-wrapper .filter-help {
  font-size: 0.923em;
}

input#edit-module-filter-name {
  font-family: Lasiver-Regular, "Segoe UI", "Helvetica", sans-serif;
}

ul.action-links a {
  font-family: Lasiver-Regular, "Segoe UI", "Helvetica", sans-serif;
}

div.admin-panel h3 {
  font-family: Lasiver-Regular, "Segoe UI", "Helvetica", sans-serif;
}

div.admin-options label {
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

h1#overlay-title {
  font-family: Lasiver-Regular, "Segoe UI", "Helvetica", sans-serif;
}

#overlay-tabs {
  font-size: 1.54em;
}

#overlay-tabs li a, #overlay-tabs li a:active, #overlay-tabs li a:visited, #overlay-tabs li a:hover {
  font-family: Lasiver-Regular, "Segoe UI", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

h1#overlay-title {
  font-size: 32px;
  font-weight: 300;
}

#skip-link a,#skip-link a:link,#skip-link a:visited {
  font-size: 0.94em;
}

#help {
  font-size: 0.923em;
}

ul.tips,div.description,.form-item div.description {
  font-size: 0.923em;
}

input.form-submit,
a.button,
div.exposed-filters input#edit-submit {
 font-family: "Lucida Grande",Verdana,sans-serif;
  font-weight: normal;
  font-size: 1.077em;
}

.views-exposed-form label {
  font-family: Lasiver-Regular, "Segoe UI", "Helvetica", sans-serif;
  font-size: 23px;
  font-weight: 300;
}

body.page-admin-appearance fieldset legend {
  font-family: Lasiver-Regular, "Segoe UI", "Helvetica", sans-serif !important;
}

body.boise-backend .cke_reset_all,body.boise-backend  .cke_reset_all * {
  font-family: Lasiver-Regular, "Segoe UI", "Helvetica", sans-serif;
}

body.boise-backend .cke_reset_all legend {
  font-family: Lasiver-Regular, "Segoe UI", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 100;
}

body.boise-backend .cke_reset_all .cke_dialog_body {
  font-family: Lasiver-Regular, "Segoe UI", "Helvetica", sans-serif;
}

body.boise-theme .views-ui-display-tab-bucket h3 {
  font-size: 20px;
}

body.boise-theme .views-display-column > .ctools-collapsible-handle {
  font-size: 17px;
  font-weight: 300;
}

body.boise-backend .cke_dialog_title {
  font-size: 18px;
}

body.page-admin-appearance fieldset legend {
  font-size: 24px !important;
  font-weight: 300 !important;
}

.views-attachment .options-set label {
  font-weight: 300;
}

#views-ui-preview-form .form-type-textfield label {
  font-weight: 300;
}

input#edit-module-filter-name {
  font-size: 32px;
  font-weight: 100;
}

input#edit-submit,
input#edit-actions-submit,
input[id^="save-continue"],
input[id^="edit-save"],
input#edit-save,
input#edit-actions-save {
  font-family: "Lucida Grande",Verdana,sans-serif;
  font-weight: normal;
  font-size: 1.077em;
}

input#edit-delete,
input#remove-button,
input#edit-remove,
input#edit-clear,
.page-admin-modules-uninstall input#edit-submit {
  font-family: "Lucida Grande",Verdana,sans-serif;
  font-weight: normal;
  font-size: 1.077em;
}

input#edit-preview,
input#edit-next,
input#preview-submit,
input[id^="edit-return"] {
  font-family: "Lucida Grande",Verdana,sans-serif;
  font-weight: normal;
  font-size: 1.077em;
}

#edit-cancel,
#edit-actions-cancel,
input#edit-buttons-revert {
  font-family: "Lucida Grande",Verdana,sans-serif;
  font-weight: normal;
  font-size: 1.077em;
}

.ui-widget table th {
  font-weight: bold;
  font-size: 12px;
}

#permissions td.module {
  font-family: sans-serif;
  font-weight: bold;
}

body.boise-backend div.dev-query {
  font-family: courier, monospace;
}

.module-filter-clear a {
  font-size: 0;
}

html.js .toggle-enable.enabled.disabled div:after {
  font-size: 18px;
}

html.js .toggle-enable div:after, html.js .toggle-enable div:before {
  font-size: 13px;
}

div.admin-panel h3 {
  font-size: 23px;
  font-weight: 300;
}

#system-themes-page h2 {
  font-size: 21px;
  font-weight: bold;
}

.system-themes-list-enabled .theme-info h3 {
  font-size: 24px;
  font-weight: 400;
}

.system-themes-list-enabled .theme-default .theme-info h3 {
  font-size: 24px;
  font-weight: 400;
}

.theme-selector h3 {
  font-weight: normal;
}

.theme-default h3 {
  font-weight: bold;
}

#dashboard div.block h2 {
  font-size: 1em;
}

.autocomplete-deluxe-item-delete {
  font-size: 1px;
}

#media-browser-tabset ul.tabs.primary li a:link {
  font-weight: 300;
  font-size: 16px;
}

.update .security-error {
  font-size: 23px;
  font-weight: bold;
}

body.boise-backend .cke_dialog_body label.cke_required {
  font-weight: normal;
}

body.page-admin-appearance fieldset legend {
  font-family: Lasiver-Regular, "Segoe UI", "Helvetica", sans-serif !important;
  font-size: 24px !important;
  font-weight: 300 !important;
}

body.boise-theme .cke_reset_all .cke_dialog_body {
  font-family: Lasiver-Regular, "Segoe UI", "Helvetica", sans-serif;
}

body.boise-theme .cke_reset_all legend {
  font-family: Lasiver-Regular, "Segoe UI", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 100;
}
